frontend/relatorio.md
{
  "name": "My workflow 29",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Assinatura Midwest",
        "formDescription": "Simulação de Assinatura",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nome",
              "requiredField": true
            },
            {
              "fieldLabel": "Tipo Classificação",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Monofásico"
                  },
                  {
                    "option": "Bifásico"
                  },
                  {
                    "option": "Trifásico"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Consumo",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "Iluminação Pública",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "Bandeiras",
              "fieldType": "number"
            },
            {
              "fieldLabel": "Vendedor",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Paulo Seze"
                  },
                  {
                    "option": "Ewerton Olegário"
                  },
                  {
                    "option": "Géssica Danielle"
                  },
                  {
                    "option": "Pedro Maciel"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        0,
        0
      ],
      "id": "4238eab1-3ce6-4a23-bf5e-2e3072b317fa",
      "name": "On form submission",
      "webhookId": "eb7e4ef1-f04c-4a72-b34f-520257a84afc"
    },
    {
      "parameters": {
        "url": "https://dadosabertos.aneel.gov.br/api/3/action/datastore_search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "resource_id",
              "value": "fcf2906c-7c32-4b9b-a637-054e7a5234f4"
            },
            {
              "name": "filters",
              "value": "={{ JSON.stringify({\n  SigAgente: \"EMT\",\n  DscBaseTarifaria: \"Tarifa de Aplicação\",\n  DscSubGrupo: \"B1\",\n  DscModalidadeTarifaria: \"Convencional\",\n  DscDetalhe: \"Não se aplica\",\n  NomPostoTarifario: \"Não se aplica\",\n  DscClasse: \"Residencial\",\n  DscSubClasse: \"Residencial\",\n  DscREH: \"RESOLUÇÃO HOMOLOGATÓRIA Nº 3.440, DE 1 DE ABRIL DE 2025\"\n}) }}"
            },
            {
              "name": "sort",
              "value": "DatInicioVigencia desc"
            },
            {
              "name": "limit",
              "value": "30"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        224,
        0
      ],
      "id": "275b78a7-5011-4081-88e5-24ed7da3744a",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "url": "https://dadosabertos.aneel.gov.br/api/3/action/datastore_search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "resource_id",
              "value": "a4060165-3a0c-404f-926c-83901088b67c"
            },
            {
              "name": "filters",
              "value": "={{ JSON.stringify({\n  SigNomeAgente: \"EMT\",\n  DscComponenteTarifario: \"TUSD_FioB\",\n  DscBaseTarifaria: \"Tarifa de Aplicação\",\n  DscSubGrupoTarifario: \"B1\",\n  DscModalidadeTarifaria: \"Convencional\",\n  DscClasseConsumidor: \"Residencial\",\n  DscSubClasseConsumidor: \"Residencial\",\n  DscDetalheConsumidor: \"Não se aplica\",\n  DscPostoTarifario: \"Não se aplica\",\n  DscResolucaoHomologatoria: \"RESOLUÇÃO HOMOLOGATÓRIA Nº 3.440, DE 1 DE ABRIL DE 2025\"\n}) }}"
            },
            {
              "name": "sort",
              "value": "DatInicioVigencia desc"
            },
            {
              "name": "limit",
              "value": "30"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        448,
        0
      ],
      "id": "348719cc-d0e9-4789-8f6c-af689c8660b3",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// Code Node - Proposta Energia Compartilhada\n// Midwest Energias - Layout Sora/Raleway\n// Cards principais só consumo, tabela 10 anos\n// ============================================\n\n// ====== INPUTS DOS NÓS ======\nconst form       = $('On form submission').first().json || {};\nconst tarifaResp = $('HTTP Request4').first().json || {}; // Tarifas B1 (TUSD+TE)\nconst fioBResp   = $('HTTP Request3').first().json || {}; // Componente TUSD_FioB\n\n// ====== CONSTANTES DE TRIBUTAÇÃO (apenas p/ TARIFA) ======\nconst PIS    = 0.012102;\nconst COFINS = 0.055743;\nconst ICMS   = 0.17;\n\n// Tabela da ANEEL vem SEM tributos → “brutalizar” (TUSD+TE)\nconst TRIB_DIVISOR = (1 - (PIS + COFINS)) * (1 - ICMS);\n\nfunction applyTaxes(valor) {\n  return valor / TRIB_DIVISOR;\n}\n\nfunction parseBR(value) {\n  if (value === null || value === undefined) return 0;\n  const s = String(value).trim();\n  if (!s) return 0;\n  return Number(s.replace(/\\./g, '').replace(',', '.')) || 0;\n}\n\nfunction toFixedDown(num, casas = 2) {\n  const fator = Math.pow(10, casas);\n  return Math.floor(num * fator) / fator;\n}\n\nfunction formatBR(num, casas = 2) {\n  const n = toFixedDown(num, casas);\n  return n.toLocaleString('pt-BR', {\n    minimumFractionDigits: casas,\n    maximumFractionDigits: casas,\n  });\n}\n\n// ====== PEGAR TARIFA B1 (TUSD + TE) E FIO B ======\nconst tarifaResult   = tarifaResp.result || {};\nconst tarifaRecords  = tarifaResult.records || [];\n\nconst fioBResult     = fioBResp.result || {};\nconst fioBRecords    = fioBResult.records || [];\n\n// Tarifa B1 Convencional (R$/kWh COM impostos)\nlet tarifaB1_kWh_comImpostos = 0;\n\n// Fio B (R$/kWh, SEM impostos - NÃO aplicar tributos)\nlet fioBBase_kWh = 0;\n\n// --- Tarifa B1 (TUSD+TE) ---\ntarifaRecords.forEach((r) => {\n  const subgrupo   = r.DscSubGrupo;\n  const modalidade = r.DscModalidadeTarifaria;\n  const posto      = r.NomPostoTarifario;\n  const unidade    = r.DscUnidadeTerciaria;\n  const teRaw      = r.VlrTE;\n  const tusdRaw    = r.VlrTUSD;\n\n  // B1 Convencional, posto \"Não se aplica\" (consumo)\n  if (subgrupo === 'B1' && modalidade === 'Convencional' && posto === 'Não se aplica') {\n    let total = parseBR(tusdRaw) + parseBR(teRaw); // R$/MWh, SEM tributos\n    if (unidade === 'MWh') {\n      total = total / 1000; // R$/kWh, SEM tributos\n    }\n    tarifaB1_kWh_comImpostos = applyTaxes(total); // R$/kWh COM tributos\n  }\n});\n\n// --- Fio B (sem impostos, direto da ANEEL) ---\nif (fioBRecords.length > 0) {\n  const fio = fioBRecords[0];\n  const baseMWh = parseBR(fio.VlrComponenteTarifario); // R$/MWh\n  fioBBase_kWh = baseMWh / 1000; // R$/kWh, SEM tributos\n}\n\n// ====== DADOS DO FORM ======\nconst nomeCliente       = form['Nome'] || form.nome || 'Cliente';\nconst tipoClassificacao = form['Tipo Classificação'] || form.tipo_classificacao || 'Bifásico';\n\n// Consumo em kWh/mês\nconst consumo_kWh = Number(form['Consumo'] ?? form.consumo ?? 0) || 0;\n\n// Iluminação pública e bandeiras em R$/mês\nconst iluminacaoPublica_R = Number(form['Iluminação Pública'] ?? form.iluminacao_publica ?? 0) || 0;\nconst bandeiras_R         = Number(form['Bandeiras'] ?? form.bandeiras ?? 0) || 0;\n\n// ====== TAXA MÍNIMA EM kWh (30 / 50 / 100) ======\nlet taxaMin_kWh = 50; // default bifásico\n\nconst tipoLower = String(tipoClassificacao).toLowerCase();\nif (tipoLower.includes('mono')) {\n  taxaMin_kWh = 30;\n} else if (tipoLower.includes('bi')) {\n  taxaMin_kWh = 50;\n} else if (tipoLower.includes('tri')) {\n  taxaMin_kWh = 100;\n}\n\n// Não pode ser maior que o consumo\nconst taxaMinAplicada_kWh = Math.min(consumo_kWh, taxaMin_kWh);\n\n// ====== FIO B ESCALONADO (SEM impostos) ======\nconst FIOB_RAMP = {\n  2023: 0.15,\n  2024: 0.30,\n  2025: 0.45,\n  2026: 0.60,\n  2027: 0.75,\n  2028: 0.90,\n};\n\nconst anoAtual = new Date().getFullYear();\nconst fatorFioB = (FIOB_RAMP[anoAtual] != null)\n  ? FIOB_RAMP[anoAtual]\n  : FIOB_RAMP[2028]; // fallback 90% se passar de 2028\n\nconst fioB_escalonado_kWh = fioBBase_kWh * fatorFioB; // R$/kWh, SEM impostos\n\n// Valor Fio B mensal (R$), sobre TODO o consumo\nconst valorFioB_R = consumo_kWh * fioB_escalonado_kWh;\n\n// Taxa mínima em R$ (usa tarifa cheia COM impostos)\nconst valorTaxaMin_R = taxaMinAplicada_kWh * tarifaB1_kWh_comImpostos;\n\n// Piso regulatório: maior entre taxa mínima e Fio B escalonado\nconst valorPisoRegulatorio_R = Math.max(valorTaxaMin_R, valorFioB_R);\n\n// ====== CONSUMO: TARIFA CHEIA x TARIFA COM DESCONTO (30%) ======\nconst descontoPercentTarifa = 0.30; // 30% sobre a tarifa de consumo\nconst tarifaMidwest_kWh     = tarifaB1_kWh_comImpostos * (1 - descontoPercentTarifa);\n\n// Apenas CONSUMO (sem ILP / bandeira / piso)\nconst valorConsumoEnergisa_R = consumo_kWh * tarifaB1_kWh_comImpostos;\nconst valorConsumoMidwest_R  = consumo_kWh * tarifaMidwest_kWh;\nconst economiaConsumo_R      = Math.max(valorConsumoEnergisa_R - valorConsumoMidwest_R, 0);\n\n// ====== CONTAS COMPLETAS (para composição e faturas economizadas) ======\n\n// Conta atual: energia + iluminação + bandeiras\nconst contaAtual_R = valorConsumoEnergisa_R + iluminacaoPublica_R + bandeiras_R;\n\n// Conta Midwest: consumo com desconto + piso regulatório + iluminação (bandeiras zeradas)\nconst contaMidwest_R = valorConsumoMidwest_R + valorPisoRegulatorio_R + iluminacaoPublica_R;\n\n// Economia na fatura (total)\nlet economiaMensal_R = contaAtual_R - contaMidwest_R;\nif (economiaMensal_R < 0) economiaMensal_R = 0;\n\nconst economiaAnual_R = economiaMensal_R * 12;\n\n// Faturas economizadas = economia anual / fatura depois\nlet faturasNumber = 0;\nif (contaMidwest_R > 0 && economiaAnual_R > 0) {\n  faturasNumber = economiaAnual_R / contaMidwest_R;\n}\nconst faturasLabel = faturasNumber.toLocaleString('pt-BR', {\n  minimumFractionDigits: 1,\n  maximumFractionDigits: 2,\n});\n\n// ====== TABELA 10 ANOS (REAJUSTE 8% AO ANO) ======\nconst reajusteAnual = 0.08;\nlet linhas10Anos = '';\nlet economiaAcumulada_R = 0;\n\nfor (let i = 0; i < 10; i++) {\n  const ano = i + 1;\n  const fator = Math.pow(1 + reajusteAnual, i);\n\n  const custoEnergisaAno_R = contaAtual_R * 12 * fator;\n  const valorMidwestAno_R  = contaMidwest_R * 12 * fator;\n\n  let economiaAno_R = custoEnergisaAno_R - valorMidwestAno_R;\n  if (economiaAno_R < 0) economiaAno_R = 0;\n\n  economiaAcumulada_R += economiaAno_R;\n\n  linhas10Anos += `\n              <tr>\n                <td>${ano}</td>\n                <td>R$ ${formatBR(custoEnergisaAno_R)}</td>\n                <td>R$ ${formatBR(valorMidwestAno_R)}</td>\n                <td class=\"text-green\">R$ ${formatBR(economiaAno_R)}</td>\n                <td class=\"text-primary\">R$ ${formatBR(economiaAcumulada_R)}</td>\n              </tr>`;\n}\n\n// ====== LOGO ======\nconst logoUrl = 'https://baserow.simplexsolucoes.com.br/media/user_files/WE8kutKMAmL1PMICsfR9k56kUHaNYz8p_4566a63159be5bf535dc3a25811394b215dcd9a04a1a44d9f14321e296b6a9c3.png';\n\n// ====== HTML (LAYOUT BASE AJUSTADO) ======\nconst html = `<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Proposta Energia Compartilhada - Midwest</title>\n  <link href=\"https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700;800&family=Raleway:wght@400;500;600&display=swap\" rel=\"stylesheet\">\n  <style>\n    @page { size: A4 portrait; margin: 0; }\n\n    html, body {\n      margin: 0;\n      padding: 0;\n    }\n\n    .pdf-root { \n      font-family: 'Sora', 'Segoe UI', Arial, sans-serif; \n      color: #282828; \n      background: #ffffff;\n    }\n\n    .page {\n      position: relative;\n      display: flex;\n      flex-direction: column;\n      width: 210mm;\n      height: 297mm;\n      box-sizing: border-box;\n      background: #ffffff;\n    }\n\n    /* Header com gradiente suave */\n    .header {\n      background: linear-gradient(135deg, #f8f9fa 0%, #e9ecef 100%);\n      padding: 14px 32px;\n      text-align: center;\n      border-bottom: 3px solid #F18A26;\n    }\n\n    .logo { \n      max-width: 300px;\n      height: auto; \n      margin: 15px auto 35px;\n      display: block;\n    }\n\n    .cliente-info {\n      font-family: 'Raleway', sans-serif;\n      font-size: 14px;\n      color: #495057;\n      font-weight: 500;\n    }\n\n    .cliente-nome {\n      font-family: 'Sora', sans-serif;\n      font-weight: 700;\n      color: #282828;\n      font-size: 16px;\n    }\n\n    /* Content */\n    .content {\n      flex: 1;\n      padding: 18px 32px 22px;\n    }\n\n    /* Hero Card - Consumo */\n    .hero-card {\n      background: linear-gradient(135deg, #FEF6F0 0%, #FDEEE6 100%);\n      border: 1px solid #F4D3C4;\n      border-radius: 18px;\n      padding: 14px 16px;\n      text-align: center;\n      margin-bottom: 18px;\n      position: relative;\n      overflow: hidden;\n    }\n\n    .hero-card::before {\n      content: '';\n      position: absolute;\n      top: -50%;\n      right: -50%;\n      width: 200%;\n      height: 200%;\n      background: radial-gradient(circle, rgba(241,138,38,0.05) 0%, transparent 70%);\n      pointer-events: none;\n    }\n\n    .hero-title {\n      font-size: 12px;\n      font-weight: 600;\n      text-transform: uppercase;\n      letter-spacing: 1.2px;\n      color: #6c757d;\n      margin-bottom: 6px;\n    }\n\n    .hero-value {\n      font-size: 28px;\n      font-weight: 800;\n      color: #282828;\n      margin-bottom: 3px;\n    }\n\n    .hero-subtitle {\n      font-family: 'Raleway', sans-serif;\n      font-size: 11px;\n      color: #6c757d;\n    }\n\n    /* Cards Grid Principal */\n    .main-grid {\n      display: grid;\n      grid-template-columns: 1fr 1fr;\n      gap: 14px;\n      margin-bottom: 18px;\n    }\n\n    .comparison-card {\n      background: #ffffff;\n      border: 2px solid #e9ecef;\n      border-radius: 14px;\n      padding: 14px 14px;\n      transition: all 0.3s ease;\n      position: relative;\n      overflow: hidden;\n      text-align: center;\n    }\n\n    .comparison-card.energisa {\n      border-color: #dee2e6;\n    }\n\n    .comparison-card.midwest {\n      border-color: #F4D3C4;\n      background: linear-gradient(135deg, #ffffff 0%, #FEF9F5 100%);\n    }\n\n    .card-label {\n      font-size: 11px;\n      font-weight: 600;\n      text-transform: uppercase;\n      letter-spacing: 0.5px;\n      color: #6c757d;\n      margin-bottom: 4px;\n    }\n\n    .card-value {\n      font-size: 22px;\n      font-weight: 700;\n      margin-bottom: 4px;\n    }\n\n    .comparison-card.energisa .card-value {\n      color: #6c757d;\n    }\n\n    .comparison-card.midwest .card-value {\n      color: #F18A26;\n    }\n\n    .card-description {\n      font-family: 'Raleway', sans-serif;\n      font-size: 10px;\n      color: #6c757d;\n      line-height: 1.35;\n    }\n\n    /* Highlight Box */\n    .highlight-box {\n      background: linear-gradient(135deg, #282828 0%, #3d3d3d 100%);\n      color: white;\n      border-radius: 14px;\n      padding: 14px 18px;\n      margin-bottom: 20px;\n      display: flex;\n      justify-content: space-between;\n      align-items: center;\n      box-shadow: 0 3px 10px rgba(40,40,40,0.2);\n    }\n\n    .highlight-item {\n      text-align: center;\n      flex: 1;\n    }\n\n    .highlight-item + .highlight-item {\n      border-left: 1px solid rgba(255,255,255,0.2);\n    }\n\n    .highlight-label {\n      font-size: 9px;\n      font-weight: 500;\n      text-transform: uppercase;\n      letter-spacing: 0.5px;\n      opacity: 0.85;\n      margin-bottom: 3px;\n    }\n\n    .highlight-value {\n      font-size: 22px;\n      font-weight: 800;\n    }\n\n    .highlight-value.desconto {\n      color: #FDB462;\n    }\n\n    .highlight-value.faturas {\n      color: #80E0A7;\n    }\n\n    /* Resumo comparativo simplificado */\n    .summary-section {\n      margin-bottom: 18px;\n    }\n\n    .summary-title {\n      font-size: 12px;\n      font-weight: 700;\n      text-transform: uppercase;\n      letter-spacing: 0.5px;\n      color: #282828;\n      margin-bottom: 10px;\n      padding-bottom: 6px;\n      border-bottom: 2px solid #F18A26;\n    }\n\n    .summary-grid {\n      display: grid;\n      grid-template-columns: 1fr 1fr;\n      gap: 10px;\n      background: #f8f9fa;\n      padding: 14px;\n      border-radius: 10px;\n    }\n\n    .summary-col {\n      text-align: center;\n    }\n\n    .summary-col-title {\n      font-size: 11px;\n      font-weight: 600;\n      margin-bottom: 8px;\n      color: #495057;\n    }\n\n    .summary-item {\n      display: flex;\n      justify-content: space-between;\n      padding: 5px 0;\n      border-bottom: 1px solid #e9ecef;\n      font-size: 10px;\n    }\n\n    .summary-item {\n      display: flex;\n      justify-content: space-between;\n      padding: 5px 0;\n      border-bottom: 1px solid #e9ecef;\n      font-size: 10px;\n    }\n    \n    .summary-col .summary-item:last-of-type {\n      border-bottom: none;\n    }\n\n    .summary-label {\n      color: #6c757d;\n    }\n\n    .summary-value {\n      font-weight: 600;\n      color: #282828;\n    }\n\n    .summary-total {\n      margin-top: 6px;\n      padding-top: 6px;\n      border-top: 2px solid #dee2e6;\n      font-size: 11px;\n      font-weight: 700;\n    }\n\n    .summary-total .summary-value {\n      font-size: 12px;\n    }\n\n    /* Tabela simplificada */\n    .projection-section {\n      background: #ffffff;\n      border: 1px solid #e9ecef;\n      border-radius: 10px;\n      overflow: hidden;\n      margin-top: 12px;\n    }\n\n    .projection-header {\n      background: #f8f9fa;\n      padding: 8px 14px;\n      border-bottom: 2px solid #F18A26;\n    }\n\n    .projection-title {\n      font-size: 11px;\n      font-weight: 700;\n      color: #282828;\n      margin: 0;\n    }\n\n    .projection-subtitle {\n      font-family: 'Raleway', sans-serif;\n      font-size: 9px;\n      color: #6c757d;\n      margin: 2px 0 0;\n    }\n\n    .table-simple {\n      width: 100%;\n      border-collapse: collapse;\n      font-size: 9px;\n    }\n\n    .table-simple thead th {\n      background: #282828;\n      color: white;\n      font-weight: 600;\n      padding: 6px 4px;\n      text-align: center;\n      font-size: 8px;\n      text-transform: uppercase;\n      letter-spacing: 0.4px;\n    }\n\n    .table-simple tbody td {\n      padding: 5px 4px;\n      text-align: center;\n      border-bottom: 1px solid #f0f0f0;\n    }\n\n    .table-simple tbody tr:nth-child(even) {\n      background: #fafafa;\n    }\n\n    .table-simple tbody tr:hover {\n      background: #FEF6F0;\n    }\n\n    .text-green {\n      color: #28a745;\n      font-weight: 600;\n    }\n\n    .text-primary {\n      color: #F18A26;\n      font-weight: 700;\n    }\n\n    /* Footer moderno */\n    .footer {\n      background: #282828;\n      color: white;\n      padding: 14px 32px;\n      font-size: 10px;\n    }\n\n    .footer-content {\n      display: flex;\n      justify-content: space-between;\n      align-items: center;\n    }\n\n    .footer-info {\n      font-family: 'Raleway', sans-serif;\n      opacity: 0.9;\n      max-width: 60%;\n    }\n\n    .footer-company {\n      text-align: right;\n    }\n\n    .footer-company-name {\n      font-weight: 700;\n      font-size: 11px;\n      margin-bottom: 2px;\n      color: #F18A26;\n    }\n\n    .footer-contact {\n      opacity: 0.8;\n      line-height: 1.3;\n    }\n\n    @media print {\n      .comparison-card,\n      .highlight-box,\n      .projection-section {\n        box-shadow: none !important;\n      }\n    }\n  </style>\n</head>\n<body>\n  <div class=\"pdf-root\">\n    <div class=\"page\">\n      <!-- Header -->\n      <div class=\"header\">\n        <img class=\"logo\" src=\"${logoUrl}\" alt=\"Midwest Energias\">\n        <div class=\"cliente-info\">\n          Proposta elaborada para: <span class=\"cliente-nome\">${nomeCliente}</span>\n        </div>\n      </div>\n\n      <!-- Content -->\n      <div class=\"content\">\n        <!-- Hero Card -->\n        <div class=\"hero-card\">\n          <div class=\"hero-title\">Seu Consumo Médio Mensal</div>\n          <div class=\"hero-value\">${consumo_kWh} kWh</div>\n          <div class=\"hero-subtitle\">Base de cálculo para economia com energia compartilhada</div>\n        </div>\n\n        <!-- Cards Comparativos (APENAS CONSUMO) -->\n        <div class=\"main-grid\">\n          <div class=\"comparison-card energisa\">\n            <div class=\"card-label\">Custo atual</div>\n            <div class=\"card-value\">R$ ${formatBR(valorConsumoEnergisa_R)}</div>\n            <div class=\"card-description\">\n              Valor do consumo atual Energisa.\n            </div>\n          </div>\n\n          <div class=\"comparison-card midwest\">\n            <div class=\"card-label\">Novo valor</div>\n            <div class=\"card-value\">R$ ${formatBR(valorConsumoMidwest_R)}</div>\n            <div class=\"card-description\">\n              Valor do consumo com desconto Midwest.\n            </div>\n          </div>\n        </div>\n\n        <!-- Highlight Box -->\n        <div class=\"highlight-box\">\n          <div class=\"highlight-item\">\n            <div class=\"highlight-label\">Desconto na Tarifa de Consumo</div>\n            <div class=\"highlight-value desconto\">30%</div>\n          </div>\n          <div class=\"highlight-item\">\n            <div class=\"highlight-label\">Economia Mensal na Fatura</div>\n            <div class=\"highlight-value\">R$ ${formatBR(economiaConsumo_R)}</div>\n          </div>\n          <div class=\"highlight-item\">\n            <div class=\"highlight-label\">Faturas Economizadas/Ano</div>\n            <div class=\"highlight-value faturas\">${faturasLabel}</div>\n          </div>\n        </div>\n\n        <!-- Resumo Comparativo Simplificado -->\n        <div class=\"summary-section\">\n          <h3 class=\"summary-title\">Detalhamento da Economia</h3>\n          \n          <div class=\"summary-grid\">\n            <div class=\"summary-col\">\n              <div class=\"summary-col-title\">Composição Atual</div>\n              <div class=\"summary-item\">\n                <span class=\"summary-label\">Energia</span>\n                <span class=\"summary-value\">R$ ${formatBR(valorConsumoEnergisa_R)}</span>\n              </div>\n              <div class=\"summary-item\">\n                <span class=\"summary-label\">Iluminação Pública</span>\n                <span class=\"summary-value\">R$ ${formatBR(iluminacaoPublica_R)}</span>\n              </div>\n              <div class=\"summary-item\">\n                <span class=\"summary-label\">Bandeiras</span>\n                <span class=\"summary-value\">R$ ${formatBR(bandeiras_R)}</span>\n              </div>\n              <div class=\"summary-total\">\n                <span class=\"summary-label\">Total Mensal</span>\n                <span class=\"summary-value\">R$ ${formatBR(contaAtual_R)}</span>\n              </div>\n            </div>\n\n            <div class=\"summary-col\">\n              <div class=\"summary-col-title\">Nova Composição</div>\n              <div class=\"summary-item\">\n                <span class=\"summary-label\">Energia (c/ desconto)</span>\n                <span class=\"summary-value\">R$ ${formatBR(valorConsumoMidwest_R)}</span>\n              </div>\n              <div class=\"summary-item\">\n                <span class=\"summary-label\">Taxa Mínima/Fio B</span>\n                <span class=\"summary-value\">R$ ${formatBR(valorPisoRegulatorio_R)}</span>\n              </div>\n              <div class=\"summary-item\">\n                <span class=\"summary-label\">Iluminação Pública</span>\n                <span class=\"summary-value\">R$ ${formatBR(iluminacaoPublica_R)}</span>\n              </div>\n              <div class=\"summary-total\">\n                <span class=\"summary-label\">Total Mensal</span>\n                <span class=\"summary-value text-primary\">R$ ${formatBR(contaMidwest_R)}</span>\n              </div>\n            </div>\n          </div>\n        </div>\n\n        <!-- Tabela Projeção (10 anos) -->\n        <div class=\"projection-section\">\n          <div class=\"projection-header\">\n            <h3 class=\"projection-title\">Projeção de Economia - 10 Anos</h3>\n            <p class=\"projection-subtitle\">Considerando reajuste médio anual de 8% nas tarifas de energia</p>\n          </div>\n          \n          <table class=\"table-simple\">\n            <thead>\n              <tr>\n                <th>Ano</th>\n                <th>Gasto sem Midwest</th>\n                <th>Gasto com Midwest</th>\n                <th>Economia Anual</th>\n                <th>Economia Total</th>\n              </tr>\n            </thead>\n            <tbody>\n              ${linhas10Anos}\n            </tbody>\n          </table>\n        </div>\n      </div>\n\n      <!-- Footer -->\n      <div class=\"footer\">\n        <div class=\"footer-content\">\n          <div class=\"footer-info\">\n            Simulação realizada com base nas tarifas vigentes e no consumo informado.<br>\n            Valores sujeitos a variações conforme consumo real e reajustes regulatórios.\n          </div>\n          <div class=\"footer-company\">\n            <div class=\"footer-company-name\">MIDWEST ENERGIAS LTDA</div>\n            <div class=\"footer-contact\">\n              contato@midwestengenharia.com.br<br>\n              Cuiabá | Rondonópolis | Sinop\n            </div>\n          </div>\n        </div>\n      </div>\n    </div>\n  </div>\n</body>\n</html>`;\n\n// ====== SAÍDA ======\nreturn {\n  json: {\n    html,\n    resumo: {\n      nomeCliente,\n      tipoClassificacao,\n      consumo_kWh,\n      valorConsumoEnergisa_R,\n      valorConsumoMidwest_R,\n      economiaConsumo_R,\n      contaAtual_R,\n      contaMidwest_R,\n      economiaMensal_R,\n      economiaAnual_R,\n      faturasNumber\n    }\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        0
      ],
      "id": "ccdc99ee-92cd-4a1c-991d-c1be1595597a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "htmlInput": "={{ $json.html }}"
      },
      "type": "@custom-js/n8n-nodes-pdf-toolkit.html2Pdf",
      "typeVersion": 1,
      "position": [
        864,
        0
      ],
      "id": "0c3b2707-b6ea-4710-923a-1b7ab1950c2f",
      "name": "HTML to PDF",
      "credentials": {
        "customJsApi": {
          "id": "guV3sYX0NS8PwYvl",
          "name": "CustomJS account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// Code Node - Simulação B1 + Fio B (Midwest)\n// Entradas esperadas:\n//   - On form submission  → dados do cliente\n//   - HTTP Request4       → tarifas B1 (TUSD + TE)\n//   - HTTP Request3       → componente TUSD_FioB\n// =====================================================\n\n// ====== INPUTS DOS NÓS ======\nconst form = $('On form submission').first().json || {};\nconst tarifaResp = $('HTTP Request4').first().json || {};\nconst fioBResp = $('HTTP Request3').first().json || {};\n\n// ====== CONSTANTES DE TRIBUTAÇÃO ======\nconst PIS = 0.012102;\nconst COFINS = 0.055743;\nconst ICMS = 0.17;\n\n// tabela da ANEEL vem SEM tributos → precisamos “brutalizar”\nconst TRIB_DIVISOR = (1 - (PIS + COFINS)) * (1 - ICMS);\n// versão sem ICMS (se precisar no futuro)\nconst TRIB_DIVISOR_SEM_ICMS = (1 - (PIS + COFINS));\n\nfunction applyTaxes(valor) {\n  return valor / TRIB_DIVISOR;\n}\n\nfunction applyTaxesNoICMS(valor) {\n  return valor / TRIB_DIVISOR_SEM_ICMS;\n}\n\n// ====== RAMPA DO FIO B (SEM IMPOSTOS) ======\nconst FIOB_RAMP = {\n  2023: 0.15,\n  2024: 0.30,\n  2025: 0.45,\n  2026: 0.60,\n  2027: 0.75,\n  2028: 0.90,\n};\n\n// ====== HELPERS ======\nfunction parseBR(value) {\n  if (value === null || value === undefined) return 0;\n  const s = String(value).trim();\n  if (!s) return 0;\n  return Number(s.replace(/\\./g, '').replace(',', '.')) || 0;\n}\n\nfunction toFixedDown(num, casas = 2) {\n  const fator = Math.pow(10, casas);\n  return Math.floor(num * fator) / fator;\n}\n\nfunction formatBR(num, casas = 2) {\n  const n = toFixedDown(num, casas);\n  return n.toLocaleString('pt-BR', {\n    minimumFractionDigits: casas,\n    maximumFractionDigits: casas,\n  });\n}\n\n// ====== PEGAR REGISTROS DAS TARIFAS ======\nconst tarifaResult = tarifaResp.result || {};\nconst tarifaRecords = tarifaResult.records || [];\n\nconst fioBResult = fioBResp.result || {};\nconst fioBRecords = fioBResult.records || [];\n\n// ----- Tarifa B1 Convencional (TUSD + TE), com impostos (R$/kWh) -----\nlet tarifaB1_kWh_comImpostos = 0;\n\ntarifaRecords.forEach((r) => {\n  const subgrupo = r.DscSubGrupo;\n  const modalidade = r.DscModalidadeTarifaria;\n  const posto = r.NomPostoTarifario;\n  const unidade = r.DscUnidadeTerciaria;\n  const teRaw = r.VlrTE;\n  const tusdRaw = r.VlrTUSD;\n\n  // Queremos exatamente B1 Convencional, posto \"Não se aplica\" (consumo)\n  if (subgrupo === 'B1' && modalidade === 'Convencional' && posto === 'Não se aplica') {\n    let total = parseBR(tusdRaw) + parseBR(teRaw); // ainda em MWh\n    if (unidade === 'MWh') {\n      total = total / 1000; // R$/kWh, sem tributos\n    }\n    // aplica PIS+COFINS+ICMS\n    tarifaB1_kWh_comImpostos = applyTaxes(total);\n  }\n});\n\n// ----- Fio B (SEM impostos), R$/kWh -----\nlet fioBBase_kWh = 0;\n\nif (fioBRecords.length > 0) {\n  const fio = fioBRecords[0];\n  const baseMWh = parseBR(fio.VlrComponenteTarifario); // R$/MWh\n  fioBBase_kWh = baseMWh / 1000; // R$/kWh, SEM impostos\n}\n\n// ====== DADOS DO FORMULÁRIO ======\n// Exemplo de payload do form:\n// {\n//   \"Nome\": \"Paulo\",\n//   \"Tipo Classificação\": \"Bifásico\",\n//   \"Consumo\": 1000,\n//   \"Iluminação Pública\": 50,\n//   \"Bandeiras\": 20,\n//   ...\n// }\n\nconst nomeCliente = form['Nome'] || form.nome || 'Cliente';\nconst tipoClassificacao = form['Tipo Classificação'] || form.tipo_classificacao || 'Bifásico';\n\n// Consumo em kWh/mês\nconst consumo_kWh = Number(form['Consumo'] ?? form.consumo ?? 0) || 0;\n\n// Iluminação pública e bandeiras em R$/mês\nconst iluminacaoPublica_R = Number(form['Iluminação Pública'] ?? form.iluminacao_publica ?? 0) || 0;\nconst bandeiras_R = Number(form['Bandeiras'] ?? form.bandeiras ?? 0) || 0;\n\n// ====== TAXA MÍNIMA EM kWh (30 / 50 / 100) ======\nlet taxaMin_kWh = 50; // default Bifásico\n\nconst tipoLower = String(tipoClassificacao).toLowerCase();\nif (tipoLower.includes('mono')) {\n  taxaMin_kWh = 30;\n} else if (tipoLower.includes('bi')) {\n  taxaMin_kWh = 50;\n} else if (tipoLower.includes('tri')) {\n  taxaMin_kWh = 100;\n}\n\n// não pode ser maior que o consumo\nconst taxaMinAplicada_kWh = Math.min(consumo_kWh, taxaMin_kWh);\n\n// ====== FIO B ESCALONADO PELO ANO VIGENTE (SEM IMPOSTOS) ======\nconst anoAtual = new Date().getFullYear();\nconst fatorFioB = (FIOB_RAMP[anoAtual] != null)\n  ? FIOB_RAMP[anoAtual]\n  : FIOB_RAMP[2028]; // se sair da tabela, usa 2028 (90%)\n\nconst fioB_escalonado_kWh = fioBBase_kWh * fatorFioB; // R$/kWh, ainda SEM impostos\n\n// valor Fio B mensal (R$), calculado sobre TODO o consumo\nconst valorFioB_R = consumo_kWh * fioB_escalonado_kWh;\n\n// taxa mínima em R$ (essa usa a tarifa cheia com impostos)\nconst valorTaxaMin_R = taxaMinAplicada_kWh * tarifaB1_kWh_comImpostos;\n\n// piso regulatório: máximo entre taxa mínima e Fio B escalonado\nconst valorPisoRegulatorio_R = Math.max(valorTaxaMin_R, valorFioB_R);\n\n// ====== CONTA ATUAL (SEM SOLAR) ======\n// modelo simplificado: consumo * tarifa cheia + iluminação + bandeiras\nconst valorEnergiaAtual_R = consumo_kWh * tarifaB1_kWh_comImpostos;\nconst contaAtual_R = valorEnergiaAtual_R + iluminacaoPublica_R + bandeiras_R;\n\n// ====== CONTA SIMULADA (COM DESCONTO + PISO REGULATÓRIO) ======\n// 30% de desconto na tarifa cheia (cliente paga 70%)\nconst tarifaComDesconto_kWh = tarifaB1_kWh_comImpostos * 0.70;\n\n// valor pago na “energia” (ex.: para Midwest)\nconst valorEnergiaDescontada_R = consumo_kWh * tarifaComDesconto_kWh;\n\n// iluminação e bandeiras deixam de existir nesse cenário\nconst contaSimulada_R = valorEnergiaDescontada_R + valorPisoRegulatorio_R;\n\n// ====== ECONOMIA ======\nlet economiaMensal_R = contaAtual_R - contaSimulada_R;\nif (economiaMensal_R < 0) economiaMensal_R = 0;\n\nconst economiaAnual_R = economiaMensal_R * 12;\nconst economiaPercent = contaAtual_R > 0\n  ? (economiaMensal_R / contaAtual_R) * 100\n  : 0;\n\n// ====== HTML DA PROPOSTA (MIDWEST) ======\nconst logoUrl = 'https://baserow.simplexsolucoes.com.br/media/user_files/WE8kutKMAmL1PMICsfR9k56kUHaNYz8p_4566a63159be5bf535dc3a25811394b215dcd9a04a1a44d9f14321e296b6a9c3.png';\n\nconst html = `<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>Proposta de Economia de Energia - Midwest</title>\n  <link href=\"https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700;800&family=Raleway:wght@400;500;600&display=swap\" rel=\"stylesheet\">\n  <style>\n    /* Paleta baseada na identidade visual Midwest */\n    :root {\n      --mw-primary: #E53615;\n      --mw-secondary: #F18A26;\n      --mw-dark: #282828;\n      --mw-bg-soft: #FDF1EF;\n      --mw-white: #FFFFFF;\n    }\n\n    * {\n      box-sizing: border-box;\n    }\n\n    body {\n      margin: 0;\n      padding: 24px;\n      background: var(--mw-bg-soft);\n      font-family: 'Sora', 'Segoe UI', Tahoma, sans-serif;\n      color: var(--mw-dark);\n    }\n\n    .wrapper {\n      max-width: 960px;\n      margin: 0 auto;\n      background: var(--mw-white);\n      border-radius: 16px;\n      padding: 24px 28px 28px 28px;\n      box-shadow: 0 10px 30px rgba(0,0,0,0.10);\n    }\n\n    .header {\n      display: flex;\n      align-items: center;\n      justify-content: space-between;\n      gap: 16px;\n      border-bottom: 1px solid #f0d5cd;\n      padding-bottom: 12px;\n      margin-bottom: 16px;\n    }\n\n    .logo-wrap img {\n      max-height: 56px;\n      height: auto;\n      display: block;\n    }\n\n    .header-title {\n      text-align: right;\n    }\n\n    .header-title h1 {\n      font-size: 22px;\n      margin: 0;\n      color: var(--mw-primary);\n      font-weight: 800;\n      letter-spacing: 0.04em;\n      text-transform: uppercase;\n    }\n\n    .header-title span {\n      font-size: 12px;\n      color: #555;\n    }\n\n    .cliente-bloco {\n      margin-bottom: 12px;\n      font-size: 13px;\n      line-height: 1.5;\n    }\n\n    .cliente-label {\n      font-weight: 600;\n      color: var(--mw-dark);\n    }\n\n    .section-title {\n      font-size: 16px;\n      margin: 10px 0 6px 0;\n      font-weight: 700;\n      color: var(--mw-dark);\n    }\n\n    .cards-grid-4 {\n      display: grid;\n      grid-template-columns: repeat(4, 1fr);\n      gap: 12px;\n      margin: 14px 0 8px 0;\n    }\n\n    .card {\n      border-radius: 12px;\n      padding: 10px 10px 12px;\n      background: #FFF7F4;\n      border: 1px solid #F7C0A7;\n      text-align: center;\n    }\n\n    .card-title {\n      font-size: 11px;\n      text-transform: uppercase;\n      color: #777;\n      margin-bottom: 6px;\n      letter-spacing: 0.05em;\n    }\n\n    .card-value {\n      font-size: 18px;\n      font-weight: 700;\n      color: var(--mw-dark);\n    }\n\n    .card-value.red {\n      color: #C0392B;\n    }\n\n    .card-value.green {\n      color: #168821;\n    }\n\n    .card-value.orange {\n      color: var(--mw-secondary);\n    }\n\n    .cards-grid-3 {\n      display: grid;\n      grid-template-columns: repeat(3, 1fr);\n      gap: 12px;\n      margin: 14px 0 8px 0;\n    }\n\n    table {\n      width: 100%;\n      border-collapse: collapse;\n      margin: 8px 0 16px 0;\n      font-size: 13px;\n    }\n\n    th, td {\n      padding: 6px 8px;\n      border: 1px solid #f0d5cd;\n    }\n\n    th {\n      text-align: left;\n      background: #FFF2EA;\n      font-weight: 600;\n      font-size: 12px;\n      color: var(--mw-dark);\n    }\n\n    td.label {\n      font-weight: 500;\n    }\n\n    .rodape {\n      margin-top: 18px;\n      border-top: 1px solid #f0d5cd;\n      padding-top: 10px;\n      font-size: 11px;\n      display: flex;\n      align-items: center;\n      justify-content: space-between;\n      gap: 8px;\n    }\n\n    .rodape-esquerda {\n      font-style: italic;\n      color: #777;\n    }\n\n    .rodape-direita {\n      text-align: right;\n      font-family: 'Raleway', 'Sora', sans-serif;\n    }\n\n    .rodape-direita .empresa {\n      font-weight: 700;\n      color: var(--mw-primary);\n      letter-spacing: 0.06em;\n      text-transform: uppercase;\n      margin-bottom: 2px;\n    }\n\n    .rodape-direita div {\n      line-height: 1.3;\n    }\n\n    @media print {\n      body {\n        background: #ffffff;\n        padding: 0;\n      }\n      .wrapper {\n        box-shadow: none !important;\n        border-radius: 0;\n      }\n    }\n  </style>\n</head>\n<body>\n  <div class=\"wrapper\">\n    <div class=\"header\">\n      <div class=\"logo-wrap\">\n        <img src=\"${logoUrl}\" alt=\"Midwest Energias\" />\n      </div>\n      <div class=\"header-title\">\n        <h1>Proposta de Economia</h1>\n        <span>Simulação baseada nas tarifas B1 Convencional e Fio B vigentes</span>\n      </div>\n    </div>\n\n    <div class=\"cliente-bloco\">\n      <div><span class=\"cliente-label\">Cliente:</span> ${nomeCliente}</div>\n      <div>\n        <span class=\"cliente-label\">Tipo de Ligação:</span> ${tipoClassificacao}\n        &nbsp;&nbsp;|&nbsp;&nbsp;\n        <span class=\"cliente-label\">Consumo médio:</span> ${consumo_kWh} kWh/mês\n      </div>\n    </div>\n\n    <h2 class=\"section-title\">Resumo da Simulação</h2>\n\n    <div class=\"cards-grid-4\">\n      <div class=\"card\">\n        <div class=\"card-title\">Conta atual</div>\n        <div class=\"card-value red\">R$ ${formatBR(contaAtual_R)}</div>\n      </div>\n      <div class=\"card\">\n        <div class=\"card-title\">Conta simulada</div>\n        <div class=\"card-value\">R$ ${formatBR(contaSimulada_R)}</div>\n      </div>\n      <div class=\"card\">\n        <div class=\"card-title\">Economia mensal</div>\n        <div class=\"card-value green\">R$ ${formatBR(economiaMensal_R)}</div>\n      </div>\n      <div class=\"card\">\n        <div class=\"card-title\">Economia anual</div>\n        <div class=\"card-value green\">R$ ${formatBR(economiaAnual_R)}</div>\n      </div>\n    </div>\n\n    <div class=\"cards-grid-3\">\n      <div class=\"card\">\n        <div class=\"card-title\">Economia percentual</div>\n        <div class=\"card-value orange\">${formatBR(economiaPercent, 2)}%</div>\n      </div>\n      <div class=\"card\">\n        <div class=\"card-title\">Tarifa B1 c/ impostos</div>\n        <div class=\"card-value\">R$ ${formatBR(tarifaB1_kWh_comImpostos, 5)}/kWh</div>\n      </div>\n      <div class=\"card\">\n        <div class=\"card-title\">Fio B escalonado ${anoAtual}</div>\n        <div class=\"card-value\">R$ ${formatBR(fioB_escalonado_kWh, 5)}/kWh</div>\n      </div>\n    </div>\n\n    <h3 class=\"section-title\">Composição das Contas</h3>\n    <table>\n      <tr>\n        <th></th>\n        <th>Conta atual</th>\n        <th>Conta simulada</th>\n      </tr>\n      <tr>\n        <td class=\"label\">Energia (kWh × tarifa)</td>\n        <td>R$ ${formatBR(valorEnergiaAtual_R)}</td>\n        <td>R$ ${formatBR(valorEnergiaDescontada_R)}</td>\n      </tr>\n      <tr>\n        <td class=\"label\">Iluminação pública</td>\n        <td>R$ ${formatBR(iluminacaoPublica_R)}</td>\n        <td>R$ 0,00</td>\n      </tr>\n      <tr>\n        <td class=\"label\">Bandeiras tarifárias</td>\n        <td>R$ ${formatBR(bandeiras_R)}</td>\n        <td>R$ 0,00</td>\n      </tr>\n      <tr>\n        <td class=\"label\">Taxa mínima (kWh obrigatórios)</td>\n        <td>-</td>\n        <td>R$ ${formatBR(valorTaxaMin_R)}</td>\n      </tr>\n      <tr>\n        <td class=\"label\">Fio B escalonado (piso regulatório)</td>\n        <td>-</td>\n        <td>R$ ${formatBR(valorFioB_R)}</td>\n      </tr>\n      <tr>\n        <td class=\"label\">Piso aplicado (máx entre taxa mín. e Fio B)</td>\n        <td>-</td>\n        <td>R$ ${formatBR(valorPisoRegulatorio_R)}</td>\n      </tr>\n      <tr>\n        <th>Total</th>\n        <th>R$ ${formatBR(contaAtual_R)}</th>\n        <th>R$ ${formatBR(contaSimulada_R)}</th>\n      </tr>\n    </table>\n\n    <div class=\"rodape\">\n      <div class=\"rodape-esquerda\">\n        Esta é uma simulação estimativa com base nas tarifas vigentes e regras\n        de compensação de energia. Valores reais podem variar conforme o perfil\n        de consumo e eventuais atualizações regulatórias.\n      </div>\n      <div class=\"rodape-direita\">\n        <div class=\"empresa\">MIDWEST ENERGIAS LTDA</div>\n        <div>contato@midwestengenharia.com.br</div>\n        <div>Cuiabá | Rondonópolis | Sinop</div>\n      </div>\n    </div>\n  </div>\n</body>\n</html>`;\n\n// ====== SAÍDA ======\nreturn [\n  {\n    json: {\n      input: {\n        form,\n      },\n      tarifas: {\n        tarifaB1_kWh_comImpostos,\n        fioBBase_kWh,          // SEM impostos\n        fioB_escalonado_kWh,\n        anoAtual,\n        fatorFioB,\n      },\n      simulacao: {\n        consumo_kWh,\n        tipoClassificacao,\n        contaAtual_R,\n        contaSimulada_R,\n        economiaMensal_R,\n        economiaAnual_R,\n        economiaPercent,\n        valorEnergiaAtual_R,\n        valorEnergiaDescontada_R,\n        valorTaxaMin_R,\n        valorFioB_R,\n        valorPisoRegulatorio_R,\n        iluminacaoPublica_R,\n        bandeiras_R,\n      },\n      html,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        304
      ],
      "id": "dbb11d68-6e37-4202-ac51-01e7bdb42bd3",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// Code Node - Proposta Energia Compartilhada\n// Midwest Energias - Grupo B1 + Fio B\n// ============================================\n\n// ====== INPUTS DOS NÓS ======\nconst form = $('On form submission').first().json || {};\nconst tarifaResp = $('HTTP Request4').first().json || {}; // Tarifas B1 (TUSD+TE)\nconst fioBResp   = $('HTTP Request3').first().json || {}; // Componente TUSD_FioB\n\n// ====== CONSTANTES DE TRIBUTAÇÃO ======\nconst PIS = 0.012102;\nconst COFINS = 0.055743;\nconst ICMS = 0.17;\n\n// tabela da ANEEL vem SEM tributos → precisamos “brutalizar”\nconst TRIB_DIVISOR = (1 - (PIS + COFINS)) * (1 - ICMS);\n\nfunction applyTaxes(valor) {\n  return valor / TRIB_DIVISOR;\n}\n\nfunction parseBR(value) {\n  if (value === null || value === undefined) return 0;\n  const s = String(value).trim();\n  if (!s) return 0;\n  return Number(s.replace(/\\./g, '').replace(',', '.')) || 0;\n}\n\nfunction toFixedDown(num, casas = 2) {\n  const fator = Math.pow(10, casas);\n  return Math.floor(num * fator) / fator;\n}\n\nfunction formatBR(num, casas = 2) {\n  const n = toFixedDown(num, casas);\n  return n.toLocaleString('pt-BR', {\n    minimumFractionDigits: casas,\n    maximumFractionDigits: casas,\n  });\n}\n\n// ====== PEGAR TARIFA B1 (TUSD + TE) E FIO B ======\nconst tarifaResult = tarifaResp.result || {};\nconst tarifaRecords = tarifaResult.records || [];\n\nconst fioBResult = fioBResp.result || {};\nconst fioBRecords = fioBResult.records || [];\n\n// Tarifa B1 Convencional (R$/kWh COM impostos)\nlet tarifaB1_kWh_comImpostos = 0;\n\n// Fio B (R$/kWh, SEM impostos)\nlet fioBBase_kWh = 0;\n\n// --- Tarifa B1 ---\ntarifaRecords.forEach((r) => {\n  const subgrupo   = r.DscSubGrupo;\n  const modalidade = r.DscModalidadeTarifaria;\n  const posto      = r.NomPostoTarifario;\n  const unidade    = r.DscUnidadeTerciaria;\n  const teRaw      = r.VlrTE;\n  const tusdRaw    = r.VlrTUSD;\n\n  // B1 Convencional, posto \"Não se aplica\" (consumo)\n  if (subgrupo === 'B1' && modalidade === 'Convencional' && posto === 'Não se aplica') {\n    let total = parseBR(tusdRaw) + parseBR(teRaw); // R$/MWh\n    if (unidade === 'MWh') {\n      total = total / 1000; // R$/kWh, SEM tributos\n    }\n    tarifaB1_kWh_comImpostos = applyTaxes(total); // R$/kWh COM tributos\n  }\n});\n\n// --- Fio B (sem impostos) ---\nif (fioBRecords.length > 0) {\n  const fio = fioBRecords[0];\n  const baseMWh = parseBR(fio.VlrComponenteTarifario); // R$/MWh\n  fioBBase_kWh = baseMWh / 1000; // R$/kWh, SEM impostos\n}\n\n// ====== DADOS DO FORM ======\nconst nomeCliente        = form['Nome'] || form.nome || 'Cliente';\nconst tipoClassificacao  = form['Tipo Classificação'] || form.tipo_classificacao || 'Bifásico';\n\n// Consumo em kWh/mês\nconst consumo_kWh = Number(form['Consumo'] ?? form.consumo ?? 0) || 0;\n\n// Iluminação pública e bandeiras em R$/mês\nconst iluminacaoPublica_R = Number(form['Iluminação Pública'] ?? form.iluminacao_publica ?? 0) || 0;\nconst bandeiras_R         = Number(form['Bandeiras'] ?? form.bandeiras ?? 0) || 0;\n\n// ====== TAXA MÍNIMA EM kWh (30 / 50 / 100) ======\nlet taxaMin_kWh = 50; // default bifásico\n\nconst tipoLower = String(tipoClassificacao).toLowerCase();\nif (tipoLower.includes('mono')) {\n  taxaMin_kWh = 30;\n} else if (tipoLower.includes('bi')) {\n  taxaMin_kWh = 50;\n} else if (tipoLower.includes('tri')) {\n  taxaMin_kWh = 100;\n}\n\n// não pode ser maior que o consumo\nconst taxaMinAplicada_kWh = Math.min(consumo_kWh, taxaMin_kWh);\n\n// ====== FIO B ESCALONADO (SEM impostos) ======\nconst FIOB_RAMP = {\n  2023: 0.15,\n  2024: 0.30,\n  2025: 0.45,\n  2026: 0.60,\n  2027: 0.75,\n  2028: 0.90,\n};\n\nconst anoAtual = new Date().getFullYear();\nconst fatorFioB = (FIOB_RAMP[anoAtual] != null)\n  ? FIOB_RAMP[anoAtual]\n  : FIOB_RAMP[2028]; // fallback 90% se passar de 2028\n\nconst fioB_escalonado_kWh = fioBBase_kWh * fatorFioB; // R$/kWh, SEM impostos\n\n// valor Fio B mensal (R$), sobre TODO o consumo\nconst valorFioB_R = consumo_kWh * fioB_escalonado_kWh;\n\n// taxa mínima em R$ (usa tarifa cheia COM impostos)\nconst valorTaxaMin_R = taxaMinAplicada_kWh * tarifaB1_kWh_comImpostos;\n\n// piso regulatório: maior entre taxa mínima e Fio B escalonado\nconst valorPisoRegulatorio_R = Math.max(valorTaxaMin_R, valorFioB_R);\n\n// ====== CONTAS ======\n\n// Conta atual: energia + iluminação + bandeiras\nconst valorEnergiaAtual_R = consumo_kWh * tarifaB1_kWh_comImpostos;\nconst contaAtual_R = valorEnergiaAtual_R + iluminacaoPublica_R + bandeiras_R;\n\n// Conta simulada (Midwest):\n// - 30% de desconto na tarifa cheia → cliente paga 70%\n// - piso regulatório (máx taxa mínima, Fio B)\n// - iluminação pública CONTINUA\n// - bandeiras ZERAM\nconst tarifaComDesconto_kWh = tarifaB1_kWh_comImpostos * 0.70;\nconst valorEnergiaDescontada_R = consumo_kWh * tarifaComDesconto_kWh;\n\nconst contaMidwest_R = valorEnergiaDescontada_R + valorPisoRegulatorio_R + iluminacaoPublica_R;\n\n// ====== ECONOMIA ======\nlet economiaMensal_R = contaAtual_R - contaMidwest_R;\nif (economiaMensal_R < 0) economiaMensal_R = 0;\n\nconst economiaAnual_R = economiaMensal_R * 12;\n\nconst economiaPercent = contaAtual_R > 0\n  ? (economiaMensal_R / contaAtual_R) * 100\n  : 0;\n\n// Economia de faturas: economia anual / valor Midwest mensal\nlet faturasNumber = 0;\nif (contaMidwest_R > 0 && economiaAnual_R > 0) {\n  faturasNumber = economiaAnual_R / contaMidwest_R;\n}\nconst faturasLabel = faturasNumber.toLocaleString('pt-BR', {\n  minimumFractionDigits: 1,\n  maximumFractionDigits: 2,\n});\n\n// ====== TABELA 15 ANOS (REAJUSTE 8% AO ANO) ======\nconst reajusteAnual = 0.08;\n\nlet linhas15Anos = '';\nlet economiaAcumulada_R = 0;\n\nfor (let i = 0; i < 15; i++) {\n  const ano = i + 1;\n  const fator = Math.pow(1 + reajusteAnual, i);\n\n  // assumindo que tanto Energisa quanto Midwest acompanham reajuste médio\n  const custoEnergisaAno_R = contaAtual_R * 12 * fator;\n  const valorMidwestAno_R  = contaMidwest_R * 12 * fator;\n\n  let economiaAno_R = custoEnergisaAno_R - valorMidwestAno_R;\n  if (economiaAno_R < 0) economiaAno_R = 0;\n\n  economiaAcumulada_R += economiaAno_R;\n\n  const alt = (i % 2 === 1);\n  const bg = alt ? 'background:#fafafa;' : '';\n\n  linhas15Anos += `\n    <tr style=\"${bg}border-bottom:1px solid #f0f0f0;\">\n      <td style=\"padding:6px;text-align:center;color:#333;font-weight:600;font-size:10px;line-height:1.2;\">Ano ${ano}</td>\n      <td style=\"padding:6px;text-align:center;color:#333;font-size:10px;line-height:1.2;\">R$ ${formatBR(custoEnergisaAno_R)}</td>\n      <td style=\"padding:6px;text-align:center;color:#333;font-size:10px;line-height:1.2;\">R$ ${formatBR(valorMidwestAno_R)}</td>\n      <td style=\"padding:6px;text-align:center;color:#168821;font-weight:700;font-size:10px;line-height:1.2;\">R$ ${formatBR(economiaAno_R)}</td>\n      <td style=\"padding:6px;text-align:center;color:#E53615;font-weight:700;font-size:10px;line-height:1.2;\">R$ ${formatBR(economiaAcumulada_R)}</td>\n    </tr>`;\n}\n\n// ====== HTML (layout modelo Moreira → adaptado Midwest) ======\nconst logoUrl = 'https://baserow.simplexsolucoes.com.br/media/user_files/WE8kutKMAmL1PMICsfR9k56kUHaNYz8p_4566a63159be5bf535dc3a25811394b215dcd9a04a1a44d9f14321e296b6a9c3.png';\n\nconst html = `<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Proposta Energia Compartilhada - Midwest Energias</title>\n  <link href=\"https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap\" rel=\"stylesheet\">\n  <style>\n    @page { size: A4 portrait; margin: 0; }\n\n    html, body {\n      margin: 0;\n      padding: 0;\n    }\n\n    .pdf-root { \n      font-family: 'Montserrat', 'Segoe UI', Arial, sans-serif; \n      color: #282828; \n    }\n\n    .page {\n      position: relative;\n      display: flex;\n      flex-direction: column;\n      justify-content: space-between;\n      width: 210mm;\n      height: 297mm;\n      box-sizing: border-box;\n      background: #f6f2f1;\n    }\n\n    .page-content {\n      flex: 1;\n      padding: 12px 32px 70px 32px;\n      display: flex;\n      flex-direction: column;\n    }\n\n    .logo-wrap { \n      text-align: center; \n      padding-top: 6px;\n      margin-bottom: 4px;\n    }\n\n    .logo { \n      display: block; \n      max-width: 260px;\n      height: auto; \n      margin: 0 auto; \n    }\n\n    .ac-line {\n      font-size: 18px;\n      text-align: center;\n      font-weight: 400;\n      margin-bottom: 10px;\n      line-height: 1.3;\n    }\n\n    .ac-line strong {\n      color: #E53615;\n    }\n\n    /* Card Consumo */\n    .card-consumo {\n      background: #fff;\n      border-radius: 16px;\n      overflow: hidden;\n      box-shadow: 0 2px 8px rgba(0,0,0,.08);\n      margin-bottom: 12px;\n    }\n\n    .card-consumo-header {\n      background: #E53615;\n      color: #ffffff;\n      font-size: 20px;\n      font-weight: 700;\n      text-align: center;\n      padding: 10px;\n      text-transform: uppercase;\n      letter-spacing: 0.5px;\n    }\n\n    .card-consumo-body {\n      padding: 20px;\n      text-align: center;\n      font-size: 24px;\n      font-weight: 700;\n      color: #282828;\n    }\n\n    /* Grid 2 cards lado a lado: Percentual + Faturas */\n    .cards-destaque-grid {\n      display: grid;\n      grid-template-columns: 1fr 1fr;\n      gap: 12px;\n      margin-bottom: 14px;\n    }\n\n    .card-destaque {\n      background: #fff;\n      border: 3px solid #E53615;\n      border-radius: 18px;\n      padding: 18px 16px;\n      text-align: center;\n      box-shadow: 0 6px 20px rgba(0,0,0,0.10);\n    }\n\n    .card-destaque-titulo {\n      font-size: 13px;\n      font-weight: 700;\n      color: #282828;\n      text-transform: uppercase;\n      letter-spacing: 0.5px;\n      margin-bottom: 8px;\n      line-height: 1.2;\n    }\n\n    .card-destaque-valor {\n      font-size: 34px;\n      font-weight: 800;\n      color: #168821;\n      line-height: 1.05;\n      margin-bottom: 4px;\n    }\n\n    .card-destaque-subtitulo {\n      font-size: 11px;\n      color: #666;\n      font-weight: 500;\n      line-height: 1.3;\n    }\n\n    /* Grid 4 cards pequenos */\n    .cards-grid {\n      display: grid;\n      grid-template-columns: repeat(4, 1fr);\n      gap: 12px;\n      margin-bottom: 16px;\n    }\n\n    .card-small {\n      background: #fff;\n      border-radius: 14px;\n      overflow: hidden;\n      box-shadow: 0 3px 10px rgba(0,0,0,.1);\n      min-height: 90px;\n      display: flex;\n      flex-direction: column;\n    }\n\n    .card-small-header {\n      color: #fff;\n      font-size: 12px;\n      font-weight: 700;\n      text-align: center;\n      padding: 7px 5px;\n      text-transform: uppercase;\n      letter-spacing: 0.3px;\n      line-height: 1.2;\n    }\n\n    .card-small-body {\n      flex: 1;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      padding: 10px 6px;\n      font-size: 16px;\n      font-weight: 700;\n      text-align: center;\n      color: #282828;\n    }\n\n    .card-energisa .card-small-header {\n      background: #C0392B;\n    }\n\n    .card-midwest .card-small-header {\n      background: #E53615;\n    }\n\n    .card-economia-mensal .card-small-header {\n      background: #168821;\n    }\n\n    .card-economia-mensal .card-small-body {\n      color: #168821;\n    }\n\n    .card-economia-anual .card-small-header {\n      background: #0B6623;\n    }\n\n    .card-economia-anual .card-small-body {\n      color: #168821;\n    }\n\n    /* Tabela 15 anos */\n    .table-wrap {\n      background: #fff;\n      border-radius: 14px;\n      overflow: hidden;\n      box-shadow: 0 2px 8px rgba(0,0,0,.08);\n      margin-top: 4px;\n    }\n\n    .table-econ {\n      width: 100%;\n      border-collapse: collapse;\n    }\n\n    .table-econ thead th {\n      background: #f8f8f8;\n      font-weight: 700;\n      font-size: 10px;\n      color: #282828;\n      padding: 5px 4px;\n      text-align: center;\n      border-bottom: 2px solid #e0e0e0;\n      line-height: 1.2;\n    }\n\n    .table-econ tbody td {\n      padding: 3px 3px;\n      font-size: 9px;\n      line-height: 1.2;\n      text-align: center;\n    }\n\n    /* Rodapé */\n    .footer {\n      position: absolute;\n      bottom: 0;\n      left: 0;\n      right: 0;\n      height: 70px;\n      border-top: 1px solid #ccc;\n      background: #f6f2f1;\n      padding: 10px 32px;\n      font-size: 11px;\n      line-height: 1.4;\n      box-sizing: border-box;\n    }\n\n    .footer table {\n      width: 100%;\n      border-collapse: collapse;\n    }\n\n    .footer td {\n      vertical-align: top;\n    }\n\n    @media print {\n      .card-consumo,\n      .card-destaque,\n      .card-small,\n      .table-wrap {\n        box-shadow: none !important;\n      }\n      .page:not(:last-child) {\n        page-break-after: always;\n      }\n    }\n  </style>\n</head>\n<body>\n  <div class=\"pdf-root\">\n    <div class=\"page\">\n      <div class=\"page-content\">\n        \n        <!-- Logo -->\n        <div class=\"logo-wrap\">\n          <img class=\"logo\" src=\"${logoUrl}\" alt=\"Midwest Energias\">\n        </div>\n\n        <!-- A/C -->\n        <p class=\"ac-line\">\n          <strong>A/C:</strong> \n          <span>${nomeCliente}</span>\n        </p>\n\n        <!-- Consumo -->\n        <div class=\"card-consumo\">\n          <div class=\"card-consumo-header\">Energia Compartilhada</div>\n          <div class=\"card-consumo-body\">\n            ${consumo_kWh} kWh/mês\n          </div>\n        </div>\n\n        <!-- 2 cards: Percentual + Faturas -->\n        <div class=\"cards-destaque-grid\">\n          <!-- Percentual de Economia -->\n          <div class=\"card-destaque\">\n            <div class=\"card-destaque-titulo\">Percentual de Economia</div>\n            <div class=\"card-destaque-valor\">${formatBR(economiaPercent, 1)}%</div>\n            <div class=\"card-destaque-subtitulo\">sobre a fatura atual</div>\n          </div>\n\n          <!-- Faturas Economizadas -->\n          <div class=\"card-destaque\">\n            <div class=\"card-destaque-titulo\">Economia de Faturas</div>\n            <div class=\"card-destaque-valor\">${faturasLabel}</div>\n            <div class=\"card-destaque-subtitulo\">faturas economizadas por ano</div>\n          </div>\n        </div>\n\n        <!-- 4 cards pequenos -->\n        <div class=\"cards-grid\">\n          <div class=\"card-small card-energisa\">\n            <div class=\"card-small-header\">Custo Energisa</div>\n            <div class=\"card-small-body\">R$ ${formatBR(contaAtual_R)}</div>\n          </div>\n\n          <div class=\"card-small card-midwest\">\n            <div class=\"card-small-header\">Valor Midwest</div>\n            <div class=\"card-small-body\">R$ ${formatBR(contaMidwest_R)}</div>\n          </div>\n\n          <div class=\"card-small card-economia-mensal\">\n            <div class=\"card-small-header\">Economia Mensal</div>\n            <div class=\"card-small-body\">R$ ${formatBR(economiaMensal_R)}</div>\n          </div>\n\n          <div class=\"card-small card-economia-anual\">\n            <div class=\"card-small-header\">Economia Anual</div>\n            <div class=\"card-small-body\">R$ ${formatBR(economiaAnual_R)}</div>\n          </div>\n        </div>\n\n        <!-- Tabela 15 anos -->\n        <div class=\"table-wrap\">\n          <table class=\"table-econ\">\n            <thead>\n              <tr>\n                <th>Período</th>\n                <th>Custo Energisa</th>\n                <th>Valor Midwest</th>\n                <th>Economia Anual</th>\n                <th>Economia Acumulada</th>\n              </tr>\n            </thead>\n            <tbody>\n              ${linhas15Anos}\n            </tbody>\n          </table>\n        </div>\n\n      </div>\n\n      <!-- Rodapé -->\n      <div class=\"footer\">\n        <table>\n          <tr>\n            <td style=\"width:50%;text-align:left;\">\n              <div style=\"font-style:italic;margin-bottom:2px;\">Simulação estimativa com base nas tarifas vigentes.</div>\n              <div style=\"font-style:italic;\">Valores reais podem variar conforme consumo e reajustes da distribuidora.</div>\n            </td>\n            <td style=\"width:50%;text-align:right;\">\n              <div style=\"font-weight:700;margin-bottom:2px;text-transform:uppercase;\">MIDWEST ENERGIAS LTDA</div>\n              <div>contato@midwestengenharia.com.br</div>\n              <div>Cuiabá | Rondonópolis | Sinop</div>\n            </td>\n          </tr>\n        </table>\n      </div>\n\n    </div>\n  </div>\n</body>\n</html>`;\n\n// ====== SAÍDA ======\nreturn {\n  json: {\n    html,\n    simulacao: {\n      nomeCliente,\n      tipoClassificacao,\n      consumo_kWh,\n      contaAtual_R,\n      contaMidwest_R,\n      economiaMensal_R,\n      economiaAnual_R,\n      economiaPercent,\n      faturasNumber\n    }\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -304
      ],
      "id": "a5769318-c1f7-401f-b2c8-bbcacd16be0a",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// Code Node - Proposta Energia Compartilhada\n// Midwest Energias - Layout Sora/Raleway + tabela 10 anos\n// ============================================\n\n// ====== INPUTS DOS NÓS ======\nconst form       = $('On form submission').first().json || {};\nconst tarifaResp = $('HTTP Request4').first().json || {}; // Tarifas B1 (TUSD+TE)\nconst fioBResp   = $('HTTP Request3').first().json || {}; // Componente TUSD_FioB\n\n// ====== CONSTANTES DE TRIBUTAÇÃO (apenas p/ TARIFA) ======\nconst PIS    = 0.012102;\nconst COFINS = 0.055743;\nconst ICMS   = 0.17;\n\n// Tabela da ANEEL vem SEM tributos → “brutalizar” (TUSD+TE)\nconst TRIB_DIVISOR = (1 - (PIS + COFINS)) * (1 - ICMS);\n\nfunction applyTaxes(valor) {\n  return valor / TRIB_DIVISOR;\n}\n\nfunction parseBR(value) {\n  if (value === null || value === undefined) return 0;\n  const s = String(value).trim();\n  if (!s) return 0;\n  return Number(s.replace(/\\./g, '').replace(',', '.')) || 0;\n}\n\nfunction toFixedDown(num, casas = 2) {\n  const fator = Math.pow(10, casas);\n  return Math.floor(num * fator) / fator;\n}\n\nfunction formatBR(num, casas = 2) {\n  const n = toFixedDown(num, casas);\n  return n.toLocaleString('pt-BR', {\n    minimumFractionDigits: casas,\n    maximumFractionDigits: casas,\n  });\n}\n\n// ====== PEGAR TARIFA B1 (TUSD + TE) E FIO B ======\nconst tarifaResult   = tarifaResp.result || {};\nconst tarifaRecords  = tarifaResult.records || [];\n\nconst fioBResult     = fioBResp.result || {};\nconst fioBRecords    = fioBResult.records || [];\n\n// Tarifa B1 Convencional (R$/kWh COM impostos)\nlet tarifaB1_kWh_comImpostos = 0;\n\n// Fio B (R$/kWh, SEM impostos - NÃO aplicar tributos)\nlet fioBBase_kWh = 0;\n\n// --- Tarifa B1 (TUSD+TE) ---\ntarifaRecords.forEach((r) => {\n  const subgrupo   = r.DscSubGrupo;\n  const modalidade = r.DscModalidadeTarifaria;\n  const posto      = r.NomPostoTarifario;\n  const unidade    = r.DscUnidadeTerciaria;\n  const teRaw      = r.VlrTE;\n  const tusdRaw    = r.VlrTUSD;\n\n  // B1 Convencional, posto \"Não se aplica\" (consumo)\n  if (subgrupo === 'B1' && modalidade === 'Convencional' && posto === 'Não se aplica') {\n    let total = parseBR(tusdRaw) + parseBR(teRaw); // R$/MWh, SEM tributos\n    if (unidade === 'MWh') {\n      total = total / 1000; // R$/kWh, SEM tributos\n    }\n    tarifaB1_kWh_comImpostos = applyTaxes(total); // R$/kWh COM tributos\n  }\n});\n\n// --- Fio B (sem impostos, direto da ANEEL) ---\nif (fioBRecords.length > 0) {\n  const fio = fioBRecords[0];\n  const baseMWh = parseBR(fio.VlrComponenteTarifario); // R$/MWh\n  fioBBase_kWh = baseMWh / 1000; // R$/kWh, SEM tributos\n}\n\n// ====== DADOS DO FORM ======\nconst nomeCliente       = form['Nome'] || form.nome || 'Cliente';\nconst tipoClassificacao = form['Tipo Classificação'] || form.tipo_classificacao || 'Bifásico';\n\n// Consumo em kWh/mês\nconst consumo_kWh = Number(form['Consumo'] ?? form.consumo ?? 0) || 0;\n\n// Iluminação pública e bandeiras em R$/mês\nconst iluminacaoPublica_R = Number(form['Iluminação Pública'] ?? form.iluminacao_publica ?? 0) || 0;\nconst bandeiras_R         = Number(form['Bandeiras'] ?? form.bandeiras ?? 0) || 0;\n\n// ====== TAXA MÍNIMA EM kWh (30 / 50 / 100) ======\nlet taxaMin_kWh = 50; // default bifásico\n\nconst tipoLower = String(tipoClassificacao).toLowerCase();\nif (tipoLower.includes('mono')) {\n  taxaMin_kWh = 30;\n} else if (tipoLower.includes('bi')) {\n  taxaMin_kWh = 50;\n} else if (tipoLower.includes('tri')) {\n  taxaMin_kWh = 100;\n}\n\n// Não pode ser maior que o consumo\nconst taxaMinAplicada_kWh = Math.min(consumo_kWh, taxaMin_kWh);\n\n// ====== FIO B ESCALONADO (SEM impostos) ======\nconst FIOB_RAMP = {\n  2023: 0.15,\n  2024: 0.30,\n  2025: 0.45,\n  2026: 0.60,\n  2027: 0.75,\n  2028: 0.90,\n};\n\nconst anoAtual = new Date().getFullYear();\nconst fatorFioB = (FIOB_RAMP[anoAtual] != null)\n  ? FIOB_RAMP[anoAtual]\n  : FIOB_RAMP[2028]; // fallback 90% se passar de 2028\n\nconst fioB_escalonado_kWh = fioBBase_kWh * fatorFioB; // R$/kWh, SEM impostos\n\n// Valor Fio B mensal (R$), sobre TODO o consumo\nconst valorFioB_R = consumo_kWh * fioB_escalonado_kWh;\n\n// Taxa mínima em R$ (usa tarifa cheia COM impostos)\nconst valorTaxaMin_R = taxaMinAplicada_kWh * tarifaB1_kWh_comImpostos;\n\n// Piso regulatório: maior entre taxa mínima e Fio B escalonado\nconst valorPisoRegulatorio_R = Math.max(valorTaxaMin_R, valorFioB_R);\n\n// ====== CONSUMO: TARIFA CHEIA x TARIFA COM DESCONTO (30%) ======\nconst descontoPercentTarifa = 0.30; // 30% sobre a tarifa de consumo\nconst tarifaMidwest_kWh     = tarifaB1_kWh_comImpostos * (1 - descontoPercentTarifa);\n\n// Apenas CONSUMO (sem ILP / bandeira / piso)\nconst valorConsumoEnergisa_R = consumo_kWh * tarifaB1_kWh_comImpostos;\nconst valorConsumoMidwest_R  = consumo_kWh * tarifaMidwest_kWh;\nconst economiaConsumo_R      = Math.max(valorConsumoEnergisa_R - valorConsumoMidwest_R, 0);\n\n// ====== CONTAS COMPLETAS (para composição e faturas economizadas) ======\n\n// Conta atual: energia + iluminação + bandeiras\nconst contaAtual_R = valorConsumoEnergisa_R + iluminacaoPublica_R + bandeiras_R;\n\n// Conta Midwest: consumo com desconto + piso regulatório + iluminação (bandeiras zeradas)\nconst contaMidwest_R = valorConsumoMidwest_R + valorPisoRegulatorio_R + iluminacaoPublica_R;\n\n// Economia na fatura\nlet economiaMensal_R = contaAtual_R - contaMidwest_R;\nif (economiaMensal_R < 0) economiaMensal_R = 0;\n\nconst economiaAnual_R = economiaMensal_R * 12;\n\n// Faturas economizadas = economia anual / fatura depois\nlet faturasNumber = 0;\nif (contaMidwest_R > 0 && economiaAnual_R > 0) {\n  faturasNumber = economiaAnual_R / contaMidwest_R;\n}\nconst faturasLabel = faturasNumber.toLocaleString('pt-BR', {\n  minimumFractionDigits: 1,\n  maximumFractionDigits: 2,\n});\n\n// ====== TABELA 10 ANOS (REAJUSTE 8% AO ANO) ======\nconst reajusteAnual = 0.08;\nlet linhas10Anos = '';\nlet economiaAcumulada_R = 0;\n\nfor (let i = 0; i < 10; i++) {\n  const ano = i + 1;\n  const fator = Math.pow(1 + reajusteAnual, i);\n\n  const custoEnergisaAno_R = contaAtual_R * 12 * fator;\n  const valorMidwestAno_R  = contaMidwest_R * 12 * fator;\n\n  let economiaAno_R = custoEnergisaAno_R - valorMidwestAno_R;\n  if (economiaAno_R < 0) economiaAno_R = 0;\n\n  economiaAcumulada_R += economiaAno_R;\n\n  linhas10Anos += `\n              <tr>\n                <td>${ano}</td>\n                <td>R$ ${formatBR(custoEnergisaAno_R)}</td>\n                <td>R$ ${formatBR(valorMidwestAno_R)}</td>\n                <td class=\"text-green\">R$ ${formatBR(economiaAno_R)}</td>\n                <td class=\"text-primary\">R$ ${formatBR(economiaAcumulada_R)}</td>\n              </tr>`;\n}\n\n// ====== LOGO ======\nconst logoUrl = 'https://baserow.simplexsolucoes.com.br/media/user_files/WE8kutKMAmL1PMICsfR9k56kUHaNYz8p_4566a63159be5bf535dc3a25811394b215dcd9a04a1a44d9f14321e296b6a9c3.png';\n\n// ====== HTML (LAYOUT FORNECIDO) ======\nconst html = `<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Proposta Energia Compartilhada - Midwest</title>\n  <link href=\"https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700;800&family=Raleway:wght@400;500;600&display=swap\" rel=\"stylesheet\">\n  <style>\n    @page { size: A4 portrait; margin: 0; }\n\n    html, body {\n      margin: 0;\n      padding: 0;\n    }\n\n    .pdf-root { \n      font-family: 'Sora', 'Segoe UI', Arial, sans-serif; \n      color: #282828; \n      background: #ffffff;\n    }\n\n    .page {\n      position: relative;\n      display: flex;\n      flex-direction: column;\n      width: 210mm;\n      height: 297mm;\n      box-sizing: border-box;\n      background: #ffffff;\n    }\n\n    /* Header com gradiente suave */\n    .header {\n      background: linear-gradient(135deg, #f8f9fa 0%, #e9ecef 100%);\n      padding: 20px 40px;\n      text-align: center;\n      border-bottom: 3px solid #F18A26;\n    }\n\n    .logo { \n      max-width: 220px;\n      height: auto; \n      margin: 0 auto 15px; \n      display: block;\n    }\n\n    .cliente-info {\n      font-family: 'Raleway', sans-serif;\n      font-size: 16px;\n      color: #495057;\n      font-weight: 500;\n    }\n\n    .cliente-nome {\n      font-family: 'Sora', sans-serif;\n      font-weight: 700;\n      color: #282828;\n      font-size: 18px;\n    }\n\n    /* Content */\n    .content {\n      flex: 1;\n      padding: 25px 40px 30px;\n    }\n\n    /* Hero Card - Consumo */\n    .hero-card {\n      background: linear-gradient(135deg, #FEF6F0 0%, #FDEEE6 100%);\n      border: 1px solid #F4D3C4;\n      border-radius: 20px;\n      padding: 20px;\n      text-align: center;\n      margin-bottom: 25px;\n      position: relative;\n      overflow: hidden;\n    }\n\n    .hero-card::before {\n      content: '';\n      position: absolute;\n      top: -50%;\n      right: -50%;\n      width: 200%;\n      height: 200%;\n      background: radial-gradient(circle, rgba(241,138,38,0.05) 0%, transparent 70%);\n      pointer-events: none;\n    }\n\n    .hero-title {\n      font-size: 14px;\n      font-weight: 600;\n      text-transform: uppercase;\n      letter-spacing: 1.5px;\n      color: #6c757d;\n      margin-bottom: 10px;\n    }\n\n    .hero-value {\n      font-size: 36px;\n      font-weight: 800;\n      color: #282828;\n      margin-bottom: 5px;\n    }\n\n    .hero-subtitle {\n      font-family: 'Raleway', sans-serif;\n      font-size: 13px;\n      color: #6c757d;\n    }\n\n    /* Cards Grid Principal */\n    .main-grid {\n      display: grid;\n      grid-template-columns: 1fr 1fr;\n      gap: 20px;\n      margin-bottom: 25px;\n    }\n\n    .comparison-card {\n      background: #ffffff;\n      border: 2px solid #e9ecef;\n      border-radius: 16px;\n      padding: 20px;\n      transition: all 0.3s ease;\n      position: relative;\n      overflow: hidden;\n    }\n\n    .comparison-card.energisa {\n      border-color: #dee2e6;\n    }\n\n    .comparison-card.midwest {\n      border-color: #F4D3C4;\n      background: linear-gradient(135deg, #ffffff 0%, #FEF9F5 100%);\n    }\n\n    .card-label {\n      font-size: 12px;\n      font-weight: 600;\n      text-transform: uppercase;\n      letter-spacing: 0.5px;\n      color: #6c757d;\n      margin-bottom: 8px;\n    }\n\n    .card-value {\n      font-size: 28px;\n      font-weight: 700;\n      margin-bottom: 8px;\n    }\n\n    .comparison-card.energisa .card-value {\n      color: #6c757d;\n    }\n\n    .comparison-card.midwest .card-value {\n      color: #F18A26;\n    }\n\n    .card-description {\n      font-family: 'Raleway', sans-serif;\n      font-size: 12px;\n      color: #6c757d;\n      line-height: 1.4;\n    }\n\n    /* Highlight Box */\n    .highlight-box {\n      background: linear-gradient(135deg, #282828 0%, #3d3d3d 100%);\n      color: white;\n      border-radius: 16px;\n      padding: 20px 25px;\n      margin-bottom: 25px;\n      display: flex;\n      justify-content: space-between;\n      align-items: center;\n      box-shadow: 0 4px 15px rgba(40,40,40,0.2);\n    }\n\n    .highlight-item {\n      text-align: center;\n      flex: 1;\n    }\n\n    .highlight-item + .highlight-item {\n      border-left: 1px solid rgba(255,255,255,0.2);\n    }\n\n    .highlight-label {\n      font-size: 11px;\n      font-weight: 500;\n      text-transform: uppercase;\n      letter-spacing: 0.5px;\n      opacity: 0.8;\n      margin-bottom: 5px;\n    }\n\n    .highlight-value {\n      font-size: 32px;\n      font-weight: 800;\n    }\n\n    .highlight-value.desconto {\n      color: #FDB462;\n    }\n\n    .highlight-value.faturas {\n      color: #80E0A7;\n    }\n\n    /* Resumo comparativo simplificado */\n    .summary-section {\n      margin-bottom: 25px;\n    }\n\n    .summary-title {\n      font-size: 14px;\n      font-weight: 700;\n      text-transform: uppercase;\n      letter-spacing: 0.5px;\n      color: #282828;\n      margin-bottom: 15px;\n      padding-bottom: 8px;\n      border-bottom: 2px solid #F18A26;\n    }\n\n    .summary-grid {\n      display: grid;\n      grid-template-columns: 1fr 1fr;\n      gap: 15px;\n      background: #f8f9fa;\n      padding: 20px;\n      border-radius: 12px;\n    }\n\n    .summary-col {\n      text-align: center;\n    }\n\n    .summary-col-title {\n      font-size: 13px;\n      font-weight: 600;\n      margin-bottom: 10px;\n      color: #495057;\n    }\n\n    .summary-item {\n      display: flex;\n      justify-content: space-between;\n      padding: 8px 0;\n      border-bottom: 1px solid #e9ecef;\n      font-size: 12px;\n    }\n\n    .summary-item:last-child {\n      border-bottom: none;\n    }\n\n    .summary-label {\n      color: #6c757d;\n    }\n\n    .summary-value {\n      font-weight: 600;\n      color: #282828;\n    }\n\n    .summary-total {\n      margin-top: 10px;\n      padding-top: 10px;\n      border-top: 2px solid #dee2e6;\n      font-size: 14px;\n      font-weight: 700;\n    }\n\n    .summary-total .summary-value {\n      font-size: 16px;\n    }\n\n    /* Tabela simplificada */\n    .projection-section {\n      background: #ffffff;\n      border: 1px solid #e9ecef;\n      border-radius: 12px;\n      overflow: hidden;\n      margin-top: 20px;\n    }\n\n    .projection-header {\n      background: #f8f9fa;\n      padding: 12px 20px;\n      border-bottom: 2px solid #F18A26;\n    }\n\n    .projection-title {\n      font-size: 13px;\n      font-weight: 700;\n      color: #282828;\n      margin: 0;\n    }\n\n    .projection-subtitle {\n      font-family: 'Raleway', sans-serif;\n      font-size: 11px;\n      color: #6c757d;\n      margin: 2px 0 0;\n    }\n\n    .table-simple {\n      width: 100%;\n      border-collapse: collapse;\n      font-size: 11px;\n    }\n\n    .table-simple thead th {\n      background: #282828;\n      color: white;\n      font-weight: 600;\n      padding: 10px 8px;\n      text-align: center;\n      font-size: 10px;\n      text-transform: uppercase;\n      letter-spacing: 0.5px;\n    }\n\n    .table-simple tbody td {\n      padding: 8px;\n      text-align: center;\n      border-bottom: 1px solid #f0f0f0;\n    }\n\n    .table-simple tbody tr:nth-child(even) {\n      background: #fafafa;\n    }\n\n    .table-simple tbody tr:hover {\n      background: #FEF6F0;\n    }\n\n    .text-green {\n      color: #28a745;\n      font-weight: 600;\n    }\n\n    .text-primary {\n      color: #F18A26;\n      font-weight: 700;\n    }\n\n    /* Footer moderno */\n    .footer {\n      background: #282828;\n      color: white;\n      padding: 20px 40px;\n      font-size: 11px;\n    }\n\n    .footer-content {\n      display: flex;\n      justify-content: space-between;\n      align-items: center;\n    }\n\n    .footer-info {\n      font-family: 'Raleway', sans-serif;\n      opacity: 0.9;\n    }\n\n    .footer-company {\n      text-align: right;\n    }\n\n    .footer-company-name {\n      font-weight: 700;\n      font-size: 12px;\n      margin-bottom: 2px;\n      color: #F18A26;\n    }\n\n    .footer-contact {\n      opacity: 0.8;\n      line-height: 1.4;\n    }\n\n    @media print {\n      .comparison-card,\n      .highlight-box,\n      .projection-section {\n        box-shadow: none !important;\n      }\n    }\n  </style>\n</head>\n<body>\n  <div class=\"pdf-root\">\n    <div class=\"page\">\n      <!-- Header -->\n      <div class=\"header\">\n        <img class=\"logo\" src=\"${logoUrl}\" alt=\"Midwest Energias\">\n        <div class=\"cliente-info\">\n          Proposta elaborada para: <span class=\"cliente-nome\">${nomeCliente}</span>\n        </div>\n      </div>\n\n      <!-- Content -->\n      <div class=\"content\">\n        <!-- Hero Card -->\n        <div class=\"hero-card\">\n          <div class=\"hero-title\">Seu Consumo Médio Mensal</div>\n          <div class=\"hero-value\">${consumo_kWh} kWh</div>\n          <div class=\"hero-subtitle\">Base de cálculo para economia com energia compartilhada</div>\n        </div>\n\n        <!-- Cards Comparativos -->\n        <div class=\"main-grid\">\n          <div class=\"comparison-card energisa\">\n            <div class=\"card-label\">Valor Atual (Energisa)</div>\n            <div class=\"card-value\">R$ ${formatBR(contaAtual_R)}</div>\n            <div class=\"card-description\">\n              Sua fatura mensal com tarifa convencional e bandeiras tarifárias\n            </div>\n          </div>\n\n          <div class=\"comparison-card midwest\">\n            <div class=\"card-label\">Com Midwest Energias</div>\n            <div class=\"card-value\">R$ ${formatBR(contaMidwest_R)}</div>\n            <div class=\"card-description\">\n              Nova fatura com desconto na tarifa e sem bandeiras tarifárias\n            </div>\n          </div>\n        </div>\n\n        <!-- Highlight Box -->\n        <div class=\"highlight-box\">\n          <div class=\"highlight-item\">\n            <div class=\"highlight-label\">Desconto na Tarifa</div>\n            <div class=\"highlight-value desconto\">30%</div>\n          </div>\n          <div class=\"highlight-item\">\n            <div class=\"highlight-label\">Economia Mensal</div>\n            <div class=\"highlight-value\">R$ ${formatBR(economiaMensal_R)}</div>\n          </div>\n          <div class=\"highlight-item\">\n            <div class=\"highlight-label\">Faturas Economizadas/Ano</div>\n            <div class=\"highlight-value faturas\">${faturasLabel}</div>\n          </div>\n        </div>\n\n        <!-- Resumo Comparativo Simplificado -->\n        <div class=\"summary-section\">\n          <h3 class=\"summary-title\">Detalhamento da Economia</h3>\n          \n          <div class=\"summary-grid\">\n            <div class=\"summary-col\">\n              <div class=\"summary-col-title\">Composição Atual</div>\n              <div class=\"summary-item\">\n                <span class=\"summary-label\">Energia</span>\n                <span class=\"summary-value\">R$ ${formatBR(valorConsumoEnergisa_R)}</span>\n              </div>\n              <div class=\"summary-item\">\n                <span class=\"summary-label\">Iluminação Pública</span>\n                <span class=\"summary-value\">R$ ${formatBR(iluminacaoPublica_R)}</span>\n              </div>\n              <div class=\"summary-item\">\n                <span class=\"summary-label\">Bandeiras</span>\n                <span class=\"summary-value\">R$ ${formatBR(bandeiras_R)}</span>\n              </div>\n              <div class=\"summary-total\">\n                <span class=\"summary-label\">Total Mensal</span>\n                <span class=\"summary-value\">R$ ${formatBR(contaAtual_R)}</span>\n              </div>\n            </div>\n\n            <div class=\"summary-col\">\n              <div class=\"summary-col-title\">Nova Composição</div>\n              <div class=\"summary-item\">\n                <span class=\"summary-label\">Energia (c/ desconto)</span>\n                <span class=\"summary-value\">R$ ${formatBR(valorConsumoMidwest_R)}</span>\n              </div>\n              <div class=\"summary-item\">\n                <span class=\"summary-label\">Taxa Mínima/Fio B</span>\n                <span class=\"summary-value\">R$ ${formatBR(valorPisoRegulatorio_R)}</span>\n              </div>\n              <div class=\"summary-item\">\n                <span class=\"summary-label\">Iluminação Pública</span>\n                <span class=\"summary-value\">R$ ${formatBR(iluminacaoPublica_R)}</span>\n              </div>\n              <div class=\"summary-total\">\n                <span class=\"summary-label\">Total Mensal</span>\n                <span class=\"summary-value text-primary\">R$ ${formatBR(contaMidwest_R)}</span>\n              </div>\n            </div>\n          </div>\n        </div>\n\n        <!-- Tabela Projeção -->\n        <div class=\"projection-section\">\n          <div class=\"projection-header\">\n            <h3 class=\"projection-title\">Projeção de Economia - 10 Anos</h3>\n            <p class=\"projection-subtitle\">Considerando reajuste médio anual de 8%</p>\n          </div>\n          \n          <table class=\"table-simple\">\n            <thead>\n              <tr>\n                <th>Ano</th>\n                <th>Gasto sem Midwest</th>\n                <th>Gasto com Midwest</th>\n                <th>Economia Anual</th>\n                <th>Economia Total</th>\n              </tr>\n            </thead>\n            <tbody>\n              ${linhas10Anos}\n            </tbody>\n          </table>\n        </div>\n      </div>\n\n      <!-- Footer -->\n      <div class=\"footer\">\n        <div class=\"footer-content\">\n          <div class=\"footer-info\">\n            Simulação realizada com base nas tarifas vigentes.<br>\n            Valores sujeitos a variações conforme consumo real.\n          </div>\n          <div class=\"footer-company\">\n            <div class=\"footer-company-name\">MIDWEST ENERGIAS</div>\n            <div class=\"footer-contact\">\n              contato@midwestengenharia.com.br<br>\n              Cuiabá | Rondonópolis | Sinop\n            </div>\n          </div>\n        </div>\n      </div>\n    </div>\n  </div>\n</body>\n</html>`;\n\n// ====== SAÍDA ======\nreturn {\n  json: {\n    html,\n    resumo: {\n      nomeCliente,\n      tipoClassificacao,\n      consumo_kWh,\n      valorConsumoEnergisa_R,\n      valorConsumoMidwest_R,\n      economiaConsumo_R,\n      contaAtual_R,\n      contaMidwest_R,\n      economiaMensal_R,\n      economiaAnual_R,\n      faturasNumber\n    }\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        208
      ],
      "id": "37a71d48-94ae-4b45-9710-ae9a3e6af6d7",
      "name": "Code in JavaScript3"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTML to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2ff098ad-1788-4f24-b5cd-dcaad8528731",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7a12360371cd82993f73405f220eb9edccfa0db9213a4df540b65c6b7e870c14"
  },
  "id": "MpOeZKsWFDAL83XY",
  "tags": []
}